customtkinter
Pillow==9.5.0
tk
transformers
torch==2.0.1
PyPDF2
docx
Flask==2.1.2
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git@b76f485208016f337ce36a3c6c0c6573502693a7
requests==2.27.1